body {
    margin: 0;
    font-family: "Inter", sans-serif;
    background: linear-gradient(135deg, #f7f3ff, #eef2ff);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-link {
    position: absolute;
    top: 30px;
    left: 40px;
    font-size: 16px;
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

.login-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.login-card {
    background: #fff;
    padding: 40px 50px;
    width: 450px;
    border-radius: 20px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.08);
    text-align: center;
}

.logo-circle {
    width: 70px;
    height: 70px;
    background: #a300ff;
    border-radius: 50%;
    margin: 0 auto 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    font-size: 32px;
    color: white;
}

h2 {
    margin: 0;
    font-size: 22px;
    color: #333;
}

h3 {
    font-size: 18px;
    margin-top: 5px;
    color: #555;
    font-weight: 500;
}

.subtitle {
    margin-bottom: 25px;
    color: #777;
}

label {
    text-align: left;
    display: block;
    margin-bottom: 5px;
    margin-top: 15px;
    font-weight: 600;
}

input {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #e0e0e0;
    background: #f7f7f7;
    outline: none;
    font-size: 15px;
    margin-bottom: 5px;
}

.login-btn {
    margin-top: 20px;
    width: 100%;
    padding: 12px;
    background: #a300ff;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.login-btn:hover {
    background: #8800d3;
}

.hint {
    margin-top: 20px;
    font-size: 14px;
    color: #777;
}

.error {
    margin-top: 10px;
    color: red;
}
