.form-card {
    width: 500px;
    background: white;
    padding: 30px;
    border-radius: 15px;
    border: 1px solid #eee;
    margin-top: 20px;
}

.form-header h2 {
    font-size: 20px;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
    font-weight: 600;
}

input {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ddd;
    background: #f9f9f9;
}

.form-actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 25px;
}

.cancel-btn {
    background: #fff;
    color: black;
    padding: 10px 18px;
    border-radius: 8px;
    border: 1px solid #ccc;
    text-decoration: none;
}

.submit-btn {
    background: #a300ff;
    color: white;
    padding: 10px 18px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.submit-btn:hover {
    background: #8800d3;
}

/* View page */
.readonly-box p {
    padding: 10px;
    background: #f7f7f7;
    border-radius: 8px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
}
