h1 {
    font-size: 22px;
    margin-bottom: 20px;
}

.card {
    background: white;
    border-radius: 15px;
    padding: 20px;
    border: 1px solid #eee;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.card-header h2 {
    font-size: 18px;
}

.add-btn {
    background: #a300ff;
    color: white;
    padding: 10px 18px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 600;
}

.add-btn:hover {
    background: #8800d3;
}

.doctor-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.doctor-table th {
    text-align: left;
    padding: 12px;
    font-size: 14px;
    border-bottom: 1px solid #ddd;
}

.doctor-table td {
    padding: 12px;
    border-bottom: 1px solid #f0f0f0;
    font-size: 15px;
}

.actions .icon-btn {
    margin-right: 12px;
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
}

.actions .delete {
    color: red;
}
